<h1>Cars reserved on <%= @resDate %> </h1>

<% if !(@car_array_remove.nil?) %>
    
    <% @car_array_remove.each do |banned| %>
        <%= banned['make'] %>
        <%= banned['model'] %>
        <%= banned['year'] %>
        <br>
    <% end %>
<% else %>
    <h1>No Reservations</h1>
<% end %>