<h1>My Reservations</h1>
<% @reservation.each do |res| %>
    <!-- add logic for when to display a reservation, something like (current date - length of days) > res_date -->
    <%= res['date'] %> | <%= res['make'] %> <%= res['model'] %> | <%= res['length_days'] %> days 
    <% if (Date.parse(res['date'].to_s) <= Date.today) %>
        <button>unlock</button>
    <% else %>
        <button disabled>not yet available</button>
    <% end %>
    <!-- also add what happens when user presses unlock -->
    <br>
<% end %>