<h1>Cars Available at this location</h1>



<h1>Unbanned</h1>
<% @car_array_remove.each do |banned| %>
    <%= banned['make'] %>
<% end %>


<h1>Banned</h1>
<% @car_array.each do |unbanned| %>
    <%= unbanned['make'] %>
<% end %>
