<% if !isAdmin? %>
Only available to admins!
<% else %>
<h1>Rental history for <%= @car %></h1>
<table style="width:80%;">
    <tr>
        <td><strong>Date</strong></td>
        <td><strong>Status on return</strong></td>
        <td><strong>Distance driven</strong></td>
    </tr>
    
    <% @carHistory_array.each do |carHistory| %>
    <tr>
        <td> <%= carHistory['date'] %></td>
        <td> <%= carHistory['status_on_return'] %></td>
        <td> <%= carHistory['distance'] %></td>
        
    </tr>
    <% end %>
</table>
<% end %>















